<!-- Bienvenida de usuario -->
<div class="container mt-3" id="bienvenida">
    <div class="rounded p-3" style="background-color: rgb(156, 221, 159);">

        <h1 style="color: green">Bienvenido, {{email}} </h1>
        <div class="m-3">
            <button type="button" class="btn btn-warning" onclick="verDatos()">Mis Datos</button>
            <button type="button" class="btn btn-warning" onclick="location.href = '#productos'">Productos</button>
            <button type="button" class="btn btn-warning" onclick="verCarritos()">Mi carrito</button>
            <button type=" button" class="btn btn-warning" onclick="location.href = '/fired'">Desloguearse</button>
        </div>
    </div>

</div>

<!-- Vista de los Datos del cliente -->
<div id="misDatos" class="jumbotron" hidden>
    <h2 style="color: blue">Mis Datos</h2>
    <br />
    <div>
        <img src="{{avatar}}" width=90px>

        <h5 class="card-title">Nombre: {{nombre}}</h5>
        <p>Email: {{email}}</p>
        <p>Direccion: {{direccion}}</plass=>
        <p>Edad: {{edad}}</pclass=>
        <p>Celular: {{celular}}</p>
        <button id="datosUser${{id}}" class="btn btn-danger btn-sm" onclick="salirDatos()">Cerrar</button>
    </div>
</div>
<br>

<!-- Vista del Carrito -->
<div id="carritos" class="jumbotron" hidden>
    <h2 style="color: blue">Mi Carrito </h2>
    <br />
    <div id="carrito"></div>
    <button id="carritosUser${{id}}" class="btn btn-danger btn-sm" onclick="salirCarritos()">Cerrar</button>

</div>

<!-- Vista de los Productos -->
<div id="productos" class="jumbotron">
    <h2 style="color: blue">Lista de Productos</h2>
    <br />
    <div id="tableProducts" class="card-columns mx-auto" style="column-count: 5"></div>
</div>
<br>

<script src="js/mainCli.js"></script>