<!-- Info Process -->
<div class="container my-5" id="infoProcess">
    <div class="jumbotron ">
        <h1 style="color: blue">Datos del proceso</h1>
        <br />
        <hr>
        <div class="table-responsive">
            <table class="table bg-info">
                <tr style="color:black">
                    <th>Objeto</th>
                    <th>Dato</th>
                </tr>
                <tr>
                    <td class="align-middle">
                        Argumentos de entrada:
                    </td>
                    <td class="align-middle">
                        {{this.argumentos}}
                    </td>
                </tr>
                <tr>
                    <td class="align-middle">
                        Directorio actual de trabajo:
                    </td>
                    <td class="align-middle">
                        {{this.directorio}}
                    </td>
                </tr>
                <tr>
                    <td class="align-middle">
                        Id del Proceso:
                    </td>
                    <td class="align-middle">
                        {{this.idProceso}}
                    </td>
                </tr>
                <tr>
                    <td class="align-middle">
                        Versión Node:
                    </td>
                    <td class="align-middle">
                        {{this.versionNode}}
                    </td>
                </tr>
                <tr>
                    <td class="align-middle">
                        Sistema Operativo:
                    </td>
                    <td class="align-middle">
                        {{this.sistemaOperativo}}
                    </td>
                </tr>
                <tr>
                    <td class="align-middle">
                        Memoria total reservada(rss):
                    </td>
                    <td class="align-middle">
                        {{this.memoria}}
                    </td>
                </tr>
                <tr>
                    <td class="align-middle">
                        Path de Ejecución:
                    </td>
                    <td class="align-middle">
                        {{this.path}}
                    </td>
                </tr>
                <tr style="background: rgb(206, 119, 7); font-weight: bold">
                    <td class="align-middle">
                        Número de Procesadores:
                    </td>
                    <td class="align-middle">
                        {{this.procesadores}}
                    </td>
                </tr>

            </table>
        </div>


    </div>


</div>